
<h1>Meet the team</h1>

<ul class="list-inline text-center">
  <% ["anne", "seb", "romain"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpeg", class: "avatar-large " %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
